.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #202020;
  padding: 15px 30px;
  color: white;
}

.logo {
  max-width: 90px;
}

.searchBar input {
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.profileButton {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}
